services:
  backend:
    build:
      context: ./backend/
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      API_KEY: "<INSERT_KEY_HERE>"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend
    environment:
      BACKEND_API: "http://localhost:8080/graphql"
    ports:
      - "5175:5175"
    depends_on:
      - backend